## edited content
*.rds
*.png
*.pdf

# but keep these in outputs/ directories
!outputs/**/*.rds
!outputs/**/*.png
!outputs/**/*.pdf

# Keep generated fadeout analysis figures (this workflow uses output/, singular)
!fadeout/output/**/*.pdf

# Keep the documented logistic-burnout figures
!fadeout/logistic_burnout/figures/*.png
!fadeout/logistic_burnout/figures/*.pdf
!fadeout/logistic_burnout/stochastic_validation/figures/*.png
!fadeout/logistic_burnout/stochastic_validation/figures/*.pdf

# Keep every burnout-extension PDF and every PNG in a figures/ tree.
# These broad exceptions also cover future nested workflows without admitting temp PNGs.
!burnout_extension/**/*.pdf
!burnout_extension/**/figures/**/*.png

# Raw stochastic-validation simulation output: local-only, not published
fadeout/logistic_burnout/stochastic_validation/outputs/
burnout_extension/validation/data/

# ignore .claude directories anywhere (including root)
.claude/

# local AI assistant instructions, not for the public repo
/CLAUDE.md

*~
\#*
.#*

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Generated if empty string is given at "Please type another file name for output:"
.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Build tool directories for auxiliary files
# latexrun
latex.out/

## Auxiliary and intermediate files from other packages:
# algorithms
*.alg
*.loa

# achemso
acs-*.bib

# amsthm
*.thm

# beamer
*.nav
*.pre
*.snm
*.vrb

# changes
*.soc

# comment
*.cut

# cprotect
*.cpt

# elsarticle (documentclass of Elsevier journals)
*.spl

# endnotes
*.ent

# fixme
*.lox

# feynmf/feynmp
*.mf
*.mp
*.t[1-9]
*.t[1-9][0-9]
*.tfm

#(r)(e)ledmac/(r)(e)ledpar
*.end
*.?end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*.lzo
*.lzs
*.slg
*.slo
*.sls

# uncomment this for glossaries-extra (will ignore makeindex's style files!)
# *.ist

# gnuplot
*.gnuplot
*.table

# gnuplottex
*-gnuplottex-*

# gregoriotex
*.gaux
*.glog
*.gtex

# htlatex
*.4ct
*.4tc
*.idv
*.lg
*.trc
*.xref

# hyperref
*.brf

# knitr
*-concordance.tex
# TODO Uncomment the next line if you use knitr and want to ignore its generated tikz files
# *.tikz
*-tikzDictionary

# listings
*.lol

# luatexja-ruby
*.ltjruby

# makeidx
*.idx
*.ilg
*.ind

# minitoc
*.maf
*.mlf
*.mlt
*.mtc[0-9]*
*.slf[0-9]*
*.slt[0-9]*
*.stc[0-9]*

# minted
_minted*
*.pyg

# morewrites
*.mw

# newpax
*.newpax

# nomencl
*.nlg
*.nlo
*.nls

# pax
*.pax

# pdfpcnotes
*.pdfpc

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# scrwfile
*.wrt

# svg
svg-inkscape/

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# pdfcomment
*.upa
*.upb

# pythontex
*.pytxcode
pythontex-files-*/

# tcolorbox
*.listing

# thmtools
*.loe

# TikZ & PGF
*.dpth
*.md5
*.auxlock

# titletoc
*.ptc

# todonotes
*.tdo

# vhistory
*.hst
*.ver

# easy-todo
*.lod

# xcolor
*.xcp

# xmpincl
*.xmpi

# xindy
*.xdy

# xypic precompiled matrices and outlines
*.xyc
*.xyd

# endfloat
*.ttt
*.fff

# Latexian
TSWLatexianTemp*

## Editors:
# WinEdt
*.bak
*.sav

# Texpad
.texpadtmp

# LyX
*.lyx~

# Kile
*.backup

# gummi
.*.swp

# KBibTeX
*~[0-9]*

# TeXnicCenter
*.tps

# auto folder when using emacs and auctex
./auto/*
*.el

# expex forward references with \gathertags
*-tags.tex

# standalone packages
*.sta

# Makeindex log files
*.lpz

# xwatermark package
*.xwm

# REVTeX puts footnotes in the bibliography by default, unless the nofootinbib
# option is specified. Footnotes are the stored in a file with suffix Notes.bib.
# Uncomment the next line to have this generated file ignored.
#*Notes.bib
#
#
*.Rout
Rplots.pdf
.Rhistory

*_files/
target.mk
makestuff

*.Rout.pdf
*.Rout.log

\.~*.csv#

## makestuff
*.args
.Rproj.user
*.Rproj
## content from makestuff
target.mk
resources
arrive.log
leave.log
leavetest.log
space.time
hot/VPD-Immunity-Estimation/
dirs
makestuff
*.checkfile
dropstuff
index.lsd
*.ld.tex
jekyll.log
*.mirror
*.puttime
local.mk
target.mk
make.log
go.log
tmp.scr
dump.txt
background.log
*.invite
commit.time
commit.default
*.autocommit
up.time
all.time
*.all
*.setbranch
temp
pages
.clean_dir
dotdir/
clonedir/
cpdir/
*.dd/
*.ours
*.theirs
*.common
*.gitdiff
*.oldfile
*.olddiff
*.arcfile
*.oldfile.pdf
*.datefile
*.datediff
*.prevfile
*.prevdiff
*.newfile
*.newdiff
*.blame
target.mk
resources
arrive.log
leave.log
leavetest.log
space.time
hot/VPD-Immunity-Estimation/
dirs
makestuff
*.checkfile
dropstuff
index.lsd
*.ld.tex
jekyll.log
*.mirror
*.puttime
local.mk
target.mk
make.log
go.log
tmp.scr
dump.txt
background.log
*.invite
commit.time
commit.default
*.autocommit
up.time
all.time
*.all
*.setbranch
temp
pages
.clean_dir
dotdir/
clonedir/
cpdir/
*.dd/
*.ours
*.theirs
*.common
*.gitdiff
*.oldfile
*.olddiff
*.arcfile
*.oldfile.pdf
*.datefile
*.datediff
*.prevfile
*.prevdiff
*.newfile
*.newdiff
*.blame
tmp/
makestuff
*.checkfile
dropstuff
index.lsd
*.ld.tex
jekyll.log
local.mk
target.mk
make.log
go.log
tmp.scr
dump.txt
background.log
*.invite
commit.time
commit.default
*.autocommit
up.time
all.time
*.all
*.setbranch
temp
pages
.clean_dir
dotdir/
clonedir/
cpdir/
*.dd/
*.ours
*.theirs
*.common
*.gitdiff
*.oldfile
*.olddiff
*.arcfile
*.oldfile.pdf
*.datefile
*.datediff
*.prevfile
*.prevdiff
*.newfile
*.newdiff
*.blame
*.mirror
resources
*.puttime
extras.mk
*.pdf
*.docx
*.html
*_files/
plagueMetapop.pkg
makestuff
*.checkfile
dropstuff
index.lsd
*.ld.tex
jekyll.log
*.force.pdf
burnout_extension/burnout_finite_prevalence_trough_theory.pdf
burnout_extension/burnout_psi_nonlinear_tail_theory.pdf
burnout_extension/burnout_psi_theory_inverseflow.pdf
burnout_extension/burnout_theta_paper.pdf
burnout_extension/burnout_theta_theory_unified_en.pdf
makestuff/style.pdf
poisson/deterministic_invasion_condition.pdf
poisson/single_strain.pdf
stochastic/comparison.pdf
stochastic/main.pdf
two_strain_burnout_probability/two_strain_burnout_probability.pdf
two_strain/param_tab.pdf
two_strain/two_strain.pdf
burnout_extension/burnout_finite_prevalence_trough_theory.out
burnout_extension/burnout_psi_nonlinear_tail_theory.out
burnout_extension/burnout_psi_theory_inverseflow.out
burnout_extension/burnout_theta_paper.out
burnout_extension/burnout_theta_theory_unified_en.out
makestuff/style.out
poisson/deterministic_invasion_condition.out
poisson/single_strain.out
stochastic/comparison.out
stochastic/main.out
two_strain_burnout_probability/two_strain_burnout_probability.out
two_strain/param_tab.out
two_strain/two_strain.out
*.biblog
*.log
*.aux
.*.aux
*.blg
*.bbl
*.bcf
*.repeat
*.texfinal
*.nav
*.snm
*.toc
*.ptc
*.run.xml
*.tex.*
*.TEX.*
*.texdeps.mk
*.aux.pdf
*.aux.out
*.texfinal.pdf
*.out
.Rhistory
.RData
*.RData
*.Rlog
*.rdata
*.rda
*.rtmp
*.Rout*
*.html.args
*.pdf.args
*.Rds
*.rds
Rplots.pdf
*.ggp.*
*md.html
local.mk
target.mk
make.log
go.log
tmp.scr
dump.txt
background.log
*.invite
commit.time
commit.default
*.autocommit
up.time
all.time
*.all
*.setbranch
temp
pages
.clean_dir
dotdir/
clonedir/
cpdir/
*.dd/
*.ours
*.theirs
*.common
*.gitdiff
*.oldfile
*.olddiff
*.arcfile
*.oldfile.pdf
*.datefile
*.datediff
*.prevfile
*.prevdiff
*.newfile
*.newdiff
*.blame
